[user]
	name = Brian Xie
	email = bxie@plaid.com
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/bxie/.gitignore
	attributesfiles = ~/.gitattributes
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	graph = log --graph --oneline --decorate --color --all
    undo = reset HEAD~1 --mixed
    publish = push origin HEAD
[url "git@github.plaid.com:"]
	insteadOf = https://github.plaid.com/
